SECRET_KEY=change_this
JWT_SECRET_KEY=change_this
DATABASE_URL=postgresql://postgres:password@localhost:5432/mentorat_db
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
